<mat-toolbar color="primary">
    <span>
      <a routerLink="/">
        <span>NovoTask Ninja</span>
      </a>
    </span>
    <span>
      <a
        routerLinkActive="active-link"
        routerLink="/"
      >
        <span>Scheduler</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/timer"
      >
        <span>Timer</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/resources"
      >
        <span>Resources</span>
      </a>
    </span>
  </mat-toolbar>